{% extends 'base.html' %}{% load humanize %}
{% load i18n %}

{% block content %}
    <div class="container py-4">
        <div class="row text-center">
            <div class="col-12">
                <form action="">
                    <div class="form-row">
                        <div class="col-lg-8">
                            <label class="sr-only">Quận/Huyện</label>
                            <select name="district" class="form-control">
                                <option selected="true" disabled="disabled"
                                >Quận/Huyện
                                </option>
                                {% for value in district_choices %}
                                    <option value="{{ value }}"
                                                {% if value == values.district %}
                                                selected
                                                {% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-secondary btn-block" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div id="container px-3" style="width: 75%; align-content: center;">
        <div class="row text-center">
            <div class="col-12 mx-lg-5">
                <canvas id="analysis" data-url="{% url 'analysis' %}"></canvas>
            </div>
        </div>

    </div>
    <div id="container px-3" style="width: 75%; align-content: center;">
        <div class="row text-center">
            <div class="col-12 mx-lg-5">
                <canvas id="analysis-1" data-url="{% url 'analysis' %}"></canvas>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>

        var config = {
            type: 'bar',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Real Estate Analysis',
                    backgroundColor: 'blue',
                    data: {{ data|safe }}
                }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Real Estate Analysis'
                }
            }
        }
        var config_pie = {
            type: 'pie',
            data: {
                labels: {{ labels_pie|safe }},
                datasets: [{
                    label: 'The percentage follow price in a district',
                    backgroundColor: ['blue', 'red', 'green', 'yellow', 'purple'],
                    data: {{ datas_pie|safe }}
                }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Real Estate Analysis'
                }
            }
        }
        window.onload = function () {
            var ctx = document.getElementById('analysis').getContext('2d');
            window.myPie = new Chart(ctx, config);
            var ctx1 = document.getElementById('analysis-1').getContext('2d');
            window.myPie1 = new Chart(ctx1, config_pie);
        };

    </script>
{% endblock %}